<div class="mx-5 mb-5">
  <h2>My orders</h2>
  <hr />
  <p-table *ngIf="orders.length>0" [value]="orders" styleClass="p-datatable-striped" selectionMode="single"> 
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Address</th>
        <th scope="col">Comment</th>
        <th scope="col">Order date</th>
        <th scope="col">Delivery date</th>
        <th scope="col">Remaining time</th>
        <th scope="col">Total price</th>
        <th scope="col">Order status</th>
        <th scope="col">Cancel order</th>
        <th scope="col">Preview order</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-element>
      <tr>
        <td>{{ element.id }}</td>
        <td>{{ element.deliveryAddress }}</td>
        <td>{{ element.comment }}</td>
        <td>{{ element.orderDate | date : 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ element.deliveryTime | date : 'dd/MM/yyyy HH:mm' }}</td>
        <td class="remaining-time">{{ getRemainingTime(element) }}</td>
        <td>{{ element.totalPrice + element.shippingCost}}</td>
        <td>
          <ng-container *ngIf="!element.canCancel">
            Cancelled
          </ng-container>
          <ng-container *ngIf="element.canCancel && isOrderDelivered(element)">
            Delivered
          </ng-container>
          <ng-container *ngIf="element.canCancel && !isOrderDelivered(element)">
            In Delivery
          </ng-container>
        </td>
        <td>
          <p-button label="Cancel order" 
          [disabled]="shouldDisableCancel(element) || !element.canCancel" 
          styleClass="p-button-danger"
          icon="pi pi-times-circle"
            (click)="cancelOrder(element)"
            >
          </p-button>
        </td>
        <td>
          <p-button label="Preview" icon="pi pi-search" [routerLink]="['/home/order/order-list/', element.id]">
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div *ngIf="orders.length ===0" class="mx-5">
  You do not have any orders.
</div>
