<div class="product-card">
    <img [src]="product.imageUrl" alt="Product Image" class="product-image">
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-price">{{ product.price | currency }}</p>
    <p>{{ product.description }}</p>
    <div class="product-buttons">
      <button class="product-button" (click)="deleteProduct(product.id)" *ngIf="role === 'Seller'">
          Delete
      </button>
      <button class="product-button" [routerLink]="['/home/products/edit/', product.id]" *ngIf="role === 'Seller'">
          Update
      </button>
      <button class="product-button" (click)="addToCart(product)" *ngIf="role === 'Customer' && showAddToCart">
          Add to cart
      </button>
      <button class="product-button" (click)="removeFromCart(product)" *ngIf="role === 'Customer' && !showAddToCart">
          Remove from cart
      </button>
    </div>
</div>  
