<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="router-link" [routerLink]="['/home']">Home</a></li>
            <li class="breadcrumb-item"><a class="router-link" [routerLink]="['/home/persons', person?.id]">My profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row">
            <div class="col-lg-4">
                <div class="card card-full-height">
                  <div class="card-body">
                    <div class="d-flex py-3 flex-column align-items-center text-center">
                      <img *ngIf="person?.imageUrl else defaultImage" [src]="person?.imageUrl" alt="User profile picture" class="rounded-circle" style="width:150px; height:auto;">
                      <ng-template #defaultImage>
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" class="rounded-circle" style="width:150px; height:auto;">
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-lg-8">
                <div class="card card-full-height">
                    <div class="card-body">
                        <form [formGroup]="editForm" (ngSubmit)="onSaveChange(editForm)">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Username</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="input-field"> 
                                        <input formControlName="userName" id="userName" type="text" [value]="person?.userName">  
                                    </div>
                                    <small *ngIf="userName?.errors?.['required']" class="text-danger">
                                        Name is requiered.
                                    </small>
                                    <small *ngIf="userName?.errors?.['pattern']" class="text-danger">
                                        Username can only contain alphanumeric characters.
                                    </small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="input-field"> 
                                        <input formControlName="email" id="email" type="text" [value]="person?.email">  
                                    </div>    
                                    <small *ngIf="email?.errors?.['required']" class="text-danger">
                                        Email is required.
                                    </small>
                                    <small *ngIf="email?.errors?.['email']" class="text-danger">
                                        Email format in incorrect.
                                    </small>                     
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">First name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="input-field"> 
                                        <input formControlName="firstName" id="firstName" type="text" [value]="person?.firstName">  
                                    </div>
                                    <small *ngIf="firstName?.errors?.['required']" class="text-danger">
                                        First name is requiered.
                                    </small>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Last name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="input-field"> 
                                        <input formControlName="lastName" id="lastName" type="text" [value]="person?.lastName">  
                                    </div>       
                                    <small *ngIf="lastName?.errors?.['required']" class="text-danger">
                                        Last name is requiered.
                                    </small>                       
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Date of birth</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="input-field">
                                        <input formControlName="birth" id="birth" type="text" [value]="person?.birth | date:'dd/MM/yyyy'">  
                                    </div> 
                                    <small *ngIf="birth?.errors?.['required']" class="text-danger">
                                        Date of birth is requiered.
                                    </small>  
                                    <small *ngIf="birth?.errors?.['pattern']" class="text-danger">
                                        Date is in invalid format (dd/MM/yyyy).
                                    </small>  
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="input-field"> 
                                        <input formControlName="address" id="address" type="text" [value]="person?.address">  
                                    </div> 
                                    <small *ngIf="address?.errors?.['required']" class="text-danger">
                                        Address is requiered.
                                    </small>
                                </div>
                            </div>
                            <div class="row mb-3" *ngIf="role === 'Seller'">
                                <div class="col-sm-3">
                                  <h6 class="mb-0">Shipping Cost</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                  <div class="input-field"> 
                                    <input formControlName="shippingCost" id="shippingCost" min="0" step="0.01" type="number" [value]="person?.shippingCost">  
                                  </div> 
                                  <small *ngIf="shippingCost?.errors?.['required']" class="text-danger">
                                    Shipping cost is required.
                                  </small>
                                  <small *ngIf="shippingCost?.errors?.['min']" class="text-danger">
                                    Shipping cost must be greater than 0.
                                  </small>
                                </div>
                            </div>                              
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Profile picture</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <div class="input-field">
                                        <input type="file" id="imageUrl" (change)="onFileSelected($event)" accept="image/*">
                                    </div>
                                    <small *ngIf="imageUrl?.errors?.['required']" class="text-danger">
                                        Profile picture is required
                                      </small>
                                </div>                            
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="btn btn-primary" [disabled]="!editForm.valid">
                                        Update profile
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #error></ng-template>
