<div class="d-flex gap-4 mx-5">
  <div class="w-25 border">
    <div class="d-flex py-3 px-3 border-bottom">
      <div class="col-sm-5">
        <h6 class="mb-0">Delivery address</h6>
      </div>
      <div class="col-sm-7 text-secondary">
        {{ order?.deliveryAddress }}
      </div>
    </div>
    <div class="d-flex py-3 px-3 border-bottom">
      <div class="col-sm-5">
        <h6 class="mb-0">Comment</h6>
      </div>
      <div class="col-sm-7 text-secondary">
        {{ order?.comment }}
      </div>
    </div>
    <div class="d-flex py-3 px-3 border-bottom">
      <div class="col-sm-5">
        <h6 class="mb-0">Order date</h6>
      </div>
      <div class="col-sm-7 text-secondary">
        {{ order?.orderDate | date : 'dd/MM/yyyy HH:mm' }}
      </div>
    </div>
    <div class="d-flex py-3 px-3 border-bottom">
      <div class="col-sm-5">
        <h6 class="mb-0">Delivery date</h6>
      </div>
      <div class="col-sm-7 text-secondary">
          {{ order?.deliveryTime | date : 'dd/MM/yyyy HH:mm' }}
      </div>
    </div>
    <div class="d-flex py-3 px-3 border-bottom">
      <div class="col-sm-5">
        <h6 class="mb-0">Price for products</h6>
      </div>
      <div class="col-sm-7 text-secondary">
        {{ order?.totalPrice }}
      </div>
    </div>
    <div class="d-flex py-3 px-3 border-bottom">
      <div class="col-sm-5">
        <h6 class="mb-0">Price for delivery</h6>
      </div>
      <div class="col-sm-7 text-secondary">
        {{ order?.shippingCost }}
      </div>
    </div>
    <div class="d-flex py-3 px-3 border-bottom">
      <div class="col-sm-5">
        <h6 class="mb-0">Order status</h6>
      </div>
      <div class="col-sm-7 text-secondary">
          {{ orderStatus }}
      </div>
    </div>
  </div>
  <div class="w-75 border">
    <p-table [value]="products" styleClass="p-datatable-striped" selectionMode="single"> 
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Product name</th>
          <th scope="col">Product price</th>
          <th scope="col">Product description</th>
          <th scope="col">Product quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element>
        <tr>
          <td>{{ element.name }}</td>
          <td>{{ element.price }}</td>
          <td>{{ element.description }}</td>
          <td>{{ element.quantity }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


